{{outlet}}
<link href="{{rootURL}}assets/css/animate.css" rel="stylesheet"/>
<link href="{{rootURL}}assets/css/waypoints.css" rel="stylesheet"/>
<script src="{{rootURL}}assets/js/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="{{rootURL}}assets/js/waypoints.js" type="text/javascript"></script>

<section class="intro">
  <div class="inner">
    <div class="intro-content">
      <section class="os-animation" data-os-animation="rubberBand" data-os-animation-delay="0">
        <h1>Auxilium</h1>
      </section>
    <section class="os-animation" data-os-animation="rubberBand" data-os-animation-delay=".1s">
      <a class="btn" href="#"{{action 'home'}}>enter</a>
    </section>
    </div>
  </div>
</section>

<script>

$('.btn').on('click', function(){
  $('#header').removeAttr('hidden');
	$('#footer').removeAttr('hidden');
})
</script>
